<footer class="footer navbar navbar-inverse navbar-fixed-bottom">
    <div class="footer-content">
        <div class="row contact-info">
            <div class="col-xs-1">
                <p><span class="glyphicon glyphicon-phone"></span> (812)-896-4912</p>
            </div>
            <div class="col-xs-11">
                <p><span class="glyphicon glyphicon-envelope"></span> ns23@umail.iu.edu</p>
            </div>
        </div>
    </div>
</footer>
