<div class="sticky-container" id="social-media-bar">
    <ul class="sticky">
        <li>
            <a href="https://www.linkedin.com/in/nathan-smith-bb35b813b/"><img src="~/Resources/LinkedInButton.png"></a>
        </li>
        <li>
            <a href="https://github.com/smit2615"><img src="~/Resources/GithubButton.png"></a>
        </li>
    </ul>
</div>
