<div class="sticky-container">
    <ul class="sticky">
        <li>
            <a href="https://www.linkedin.com/in/nathan-smith-bb35b813b/"><img src="~/Content/LinkedInButton.png"></a>
        </li>
        <li>
            <a href="https://github.com/smit2615"><img src="~/Content/GithubButton.png"></a>
        </li>
    </ul>
</div>
