/*navbar changes*/
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #89b6ff;
}

.navbar-nav > li > a, .navbar-brand {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 5px !important;
    padding-bottom: 0 !important;
    height: 30px;
}

.navbar {
    min-height: 30px !important;
}

.navbar-inverse .navbar-nav > li > .btn-info {
    background-color: #89b6ff;
    border-color: #89b6ff;
    color: black;
}
