/*TODO: break up the css into page specifics*/
body {
    background-size: cover;
    background-attachment: fixed;
}

.index-body {
    background-image: url(https://free-images.com/or/4959/landscape_sunset_blue_sunrise.jpg);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 3%;
    padding-left: 15px;
    padding-right: 120px;
    padding-bottom: 40px;
    background-color: transparent;
    z-index: 0;
}

.container {
    padding-top: 5%;
    padding-bottom: 7%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/****************************** Media Queries ***********************************/

/*collapsable navbar will overlap social media bar*/
/*@media screen and (max-width: 767px) {
    .sticky-container {
        top: 200px;
    }
}*/

@media screen and (max-width: 600px) {
    .sticky-container {
        top: 87%;
        width: 200px;
        right: -35px;
        height: 0;
    }

    .sticky li:hover {
        margin-left: 0px;
    }

    .sticky li {
        height: 0px;
        width: 80px;
        float: left;
    }

    .sticky li img:hover {
        background-color: white;
    }

    .body-content {
        padding-right: 15px;
    }
}

/*Welcome message is too wide for screen*/
@media screen and (max-width: 670px) {
    .welcomeMessage h1 {
        font-size: 5em;
    }
}

    @media screen and (max-width: 376px) {
        .welcomeMessage h1 {
            font-size: 3em;
        }

        .Index {
            padding-top: 7%;
        }
    }

    /*Need more padding to the top and bottom of content*/
    @media screen and (max-width: 825px) {
        .container {
            padding-top: 10%;
            padding-bottom: 15%;
        }
    }

    @media screen and (max-width: 600px) {
        .container {
            padding-top: 17%;
            padding-bottom: 24%;
        }
    }

