
@{
    ViewBag.Title = "AboutMe";
}

<div>
    <div>
        <blockquote>
            <div><h3>Summary</h3></div>
            <p>
                My name is Nathan Smith. I'm a computer science student
                at Indiana University Southeast. I'm currently participating in a
                software development internship at Zirmed in Lousiville, KY.
            </p>
        </blockquote>
        <blockquote class="blockquote-reverse">
            <div><h3>Current Coursework</h3></div>
            <p>
                This semester I'm taking 12 credit hours across three classes.
                One class is about software engineering concepts and requires a semester
                project be completed with a group. I'm also taking a database
                course learning about various data concepts and querying
                methods. My final class is an artificial intelligence course where
                I'm working on a project to train a recurrent neural network to learn
                how to write poetry.
            </p>
        </blockquote>
        <blockquote>
            <div><h3>Interests</h3></div>
            <p>
                I enjoy playing baseball, video games, and writing/performing music.
                I played baseball from t-ball all the way through high school and
                was able to play in the little league state tournament. I also got to go to
                regionals in high school to the field where the movie "A League of their Own"
                was filmed. I've played percussion since fifth grade and have the most experience
                on snare drum. I can play a range of other intstruments though from drumset to
                marimba.
            </p>
        </blockquote>
        <img class="img-responsive img-rounded pull-right" src="~/Resources/Baseball.jpg" />
    </div>
</div>


