
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error404</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    <div class="container errorMessage">
        <h1>404 Page Not Found</h1>
        <p>I can't believe you've done this...</p>

        <h2>Let me help you out:</h2>
    </div>
</body>
</html>
