
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error404</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    <div class="container errorMessage">
        <h1>404 Page Not Found</h1>
        <p>I can't believe you've done this...</p>

        <h2>I've prepared some charts to help you out:</h2>
        <hr/>
        <img class="img-responsive" src="~/Resources/Error404.JPG" />
        <hr />
        <h2>Fix your mistake here</h2>
        <div class="list-group list-unstyled">
            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "list-group-item" })
            @Html.ActionLink("About Me", "AboutMe", "Home", null, new { @class = "list-group-item" })
            @Html.ActionLink("Resume", "Resume", "Home", null, new { @class = "list-group-item" })
        </div>
    </div>
</body>
</html>
