
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<div class="Index">
    <div class="welcomeMessage container">
        <h1>Welcome!</h1>
    </div>
    <div class="welcomeImage">
        <img class="img-circle img-responsive" src="~/Resources/Me.PNG" />
    </div>
    <div class="introduction-container container">
        <h2 class="introduction well">I'm Nathan Smith</h2>
    </div>
</div>


