
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Index.css" />

<div class="Index">
    <div class="welcome-message container">
        <h1>Welcome!</h1>
    </div>
    <div class="welcome-image">
        <img class="img-circle img-responsive" src="~/Resources/Me.PNG" />
    </div>
    <div class="introduction-container container">
        <h2 class="introduction well">I'm Nathan Smith</h2>
    </div>
</div>


