
@{
    ViewBag.Title = "Projects";
}

<h1>My Projects</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Project</th>
            <th>Platform</th>
            <th>Language(s) / Frameworks</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Text-based CYOA Game</td>
            <td>Android</td>
            <td>Java, SQL, XML</td>
        </tr>
        <tr>
            <td>Commercial Horse Boarding Website</td>
            <td>Web</td>
            <td>HTML, CSS, Javascript, Bootstrap</td>
        </tr>
    </tbody>
</table>
