
@{
    ViewBag.Title = "Resume";
}

<h1>My Resume</h1>
<div class="row visible-xs-block" id="sm-device-info">
    <i>**It looks like you're viewing on a small device... click the button to view my resume!</i>
</div>
<div>
    <a class="btn btn-info" href="~/Resources/Resume.pdf" onclick="ga('send', 'event', 'Nathan Smith Resume', 'click');">
    <span class="glyphicon glyphicon-download"></span> Download</a>
</div>
<div class="container-fluid">
    <object class="resume hidden-xs" data="~/Resources/Resume.pdf"/>
</div>

<script>
    $('.btn-info').click(function () {
        $(this).blur();
    });
   
</script>